@model IEnumerable<ASM1.Repository.Models.Customer>

@{
    ViewData["Title"] = "Customer Management";
}

<h2>Customer List</h2>

<a class="btn btn-success mb-3" asp-controller="Dealer" asp-action="CreateCustomer">+ Add Customer</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.CustomerId</td>
                <td>@c.FullName</td>
                <td>@c.Email</td>
                <td>@c.Phone</td>
            </tr>
        }
    </tbody>
</table>
