@model IEnumerable<ASM1.Repository.Models.Feedback>

@{
    ViewData["Title"] = "Feedbacks";
}

<h2>Customer Feedbacks</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Customer</th>
            <th>Content</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fb in Model)
        {
            <tr>
                <td>@fb.FeedbackId</td>
                <td>@fb.CustomerId</td>
                <td>@fb.Content</td>
                <td>@fb.CreatedAt</td>
            </tr>
        }
    </tbody>
</table>
