@{
    ViewData["Title"] = "Create Test Data";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>Test Quotation Detail</h4>
                </div>
                <div class="card-body">
                    <p>This will create a sample quotation detail page for testing purposes.</p>
                    
                    <form method="post">
                        <button type="submit" name="action" value="create" class="btn btn-primary">
                            <i class="bi bi-file-plus"></i> Create Test Quotation Detail
                        </button>
                        <a href="/Quotation" class="btn btn-secondary ms-2">
                            <i class="bi bi-arrow-left"></i> Back to Quotations
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>