@{
    ViewData["Title"] = "Test Quotations";
}

<h1>Test Quotations Data</h1>

<div class="container">
    <h3>Test Options:</h3>
    <ul>
        <li><a href="/Quotation/CreateTestData" class="btn btn-primary">Create Test Quotation Detail</a></li>
    </ul>
    
    <h3>Available Quotations (if any exist):</h3>
    <ul>
        <li><a href="/Quotation/Details/1">Quotation ID: 1</a></li>
        <li><a href="/Quotation/Details/2">Quotation ID: 2</a></li>
        <li><a href="/Quotation/Details/3">Quotation ID: 3</a></li>
    </ul>
    
    <h3>Go to:</h3>
    <ul>
        <li><a href="/Quotation">Quotation Index</a></li>
        <li><a href="/Customer">Customer Index</a></li>
    </ul>
</div>